body { font-family: 'Oswald', sans-serif;
       background-color: #E7E7E7
       color:grey;
       display:inline-block;
		         }
button {
	background-color: #7D3C98;
	width: 100px;
	height: 50px;
	color:white;
}

h2 { color: #7D3C98;
	 font-size: 48px;
	 display: block;
	 padding: 10px;
	 margin: 20px;
	}
h3 { color: #3498DB  ;
	 font-size: 24px;
	 display: block;
	 padding: 10px;
	 margin: 20px;
	}
table{
	background-color: #B5DACF  
}
ul {
	list-style: none;
}
footer {
	background-color: #93C9CB
}
.shot {
	width: 300px;
	height: 300px;
	margin: 5px 50px;
	float: right;
	position: relative;
}
.servicios{
	text-align: center;
}
.download{
	margin-left: 20px;
	display: block;
}
.demo {
	width: 300px;
	height: 300px;
	margin: 5px 50px;
	float: left;
	position: relative;
}
.back {
	background-image: url(img/back0.jpg);
	background-size: cover;
	display: block;
	margin:auto;
		         }
.box { 
	background-color: #93C9CB;
    content: 10px;
    padding: 20px;
    border:3px;
    margin: 200px;
    border-color: white;
    position: absolute;
    background-color: #E5E8F6;
	}
.intro { 
	color:#304A67;
	padding: 10px;
	font-size: 16px
}
.gadget {
	background-color: #E5E8F6;
}
.tabla1 {
	width: 300px;
	height: 400px;
	margin: 5px 50px;
	float: left;
	position: static;
}
.tabla2 {
	width: 300px;
	height: 400px;
	margin: 5px 50px;
	float: right;
	position: static;
}
.icon {
	width: 20px;
	height: 20px;
	display: inline-table;
}
.content1{
	background-color: #E5E8F6;
	width: 100%;
	height: 500px
}
.content2 {
	background-color: #D5F5FF ;
	width: 100%;
	height: 500px;
	float:right;
	display:block;
}
p {
	display:inline-block;
	padding: 20px;
}
.cole {
	float;right: 
}
.centerTab{
	text-align: center;
}